<div class="row">
    <div class="col-md-12 border-bottom">
        <img src="assets/product.png" class="rounded-cercle" alt="article image" width="200px" height="200px">
    </div>
    <div class="col-md-12">
        <div class="row mt-2">
            <div class="col-md-12">
                <h2><i class="fa-solid fa-circle-info gold-color"></i>&nbsp; Information Du Client/fournisseurs</h2>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Nom</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Adresse 1</label>
                      </div>
                    </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Prénom</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Adresse 2</label>
                      </div>
                    </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Email</label>
                      </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                          <input type="email" class="form-control" id="floatingInputGrid">
                          <label for="floatingInputGrid">Ville</label>
                        </div>
                      </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Telephone</label>
                      </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                          <input type="email" class="form-control" id="floatingInputGrid">
                          <label for="floatingInputGrid">Code Postal</label>
                        </div>
                      </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="offset-md-6 col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Pays</label>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-end mt-3">
        <button class="btn btn-danger me-2">
            <i class="fa-solid fa-power-off"></i>&nbsp; Annuler
        </button>
        <button class="btn btn-success">
            <i class="fa-solid fa-check-double"></i>&nbsp; Enregister
        </button>
    </div>
</div>
