<div class="row mb-2 border-2 custom-border">
    <div class="col-md-2">
        <div class="p-1 text-center">
            <img src="assets/product.png" alt="product" width="120px" height="100px">
        </div>
    </div>
    <div class="col-md-4 border-end border-start">
        <div class="row  mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-address-card gold-color"></i>
            </div>
            <div class="col-11">Nom</div>
        </div>
        <div class="row  mb-0 pb-0">
            <div class="col-1">
                <i class="fa-sharp fa-solid fa-address-card gold-color"></i>
            </div>
            <div class="col-11">Prénom</div>
        </div>
        <div class="row mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-phone gold-color"></i>
            </div>
            <div class="col-11">216 20 800 843</div>
        </div>
    </div>

    <!--Categories details-->
    <div class="col-md-3 border-end">
        <div class="h-100">
            <div class="row  mb-0 pb-0">
                <div class="col-1">
                    <i class="fa-solid fa-home gold-color"></i>
                </div>
                <div class="col-11">Adresse 1 adresse 2</div>
            </div>
            <div class="row  mb-0 pb-0">
                <div class="col-1">
                    <i class="fa-sharp fa-solid fa-location-dot gold-color"></i>
                </div>
                <div class="col-11">12345 Ville</div>
            </div>
            <div class="row  mb-0 pb-0">
                <div class="col-1">
                    <i class="fa-sharp fa-solid fa-globe gold-color"></i>
                </div>
                <div class="col-11">Pays</div>
            </div>
        </div>
    </div>

    <!--Buttons Events-->
    <div class="col-md-3 ps-0">
        <div class="row align-items-center h-100">
            <div class="col-md-4">
                <button class="btn btn-link"><i class="fa-solid fa-pencil"></i>&nbsp; Modifier</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link"><i class="fa-solid fa-trash"></i>&nbsp; Supprimer</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link"> <i class="fa-solid fa-clipboard-list"></i>&nbsp; Details</button>
            </div>
        </div>
    </div>
</div>