<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-header text-center">
                    <h2>S'inscrire</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="userName" placeholder="Nom">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="codeFiscale" placeholder="Code Fiscale">
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="adresse1" placeholder="Adresse 1">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="adresse 2"  placeholder="Adresse 2">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="ville" placeholder="Ville">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="codePostale" placeholder="Code Postale">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="pays" placeholder="Pays">
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Confirmer Mot De Pass">
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" id="signup" class="d-block btn btn-success"><i class="fa-solid fa-check me-2"></i>S'inscrire</button>
                            <div>
                                <a href="">Se connecter</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

