<div class="row">
    <div class="col-md-12 border-bottom">
        <img src="assets/product.png" class="rounded-cercle" alt="article image" width="200px" height="200px">
    </div>
    <div class="col-md-12">
        <div class="row mt-2">
            <div class="col-md-12">
                <h2><i class="fa-solid fa-circle-info gold-color"></i>&nbsp; Information De L'article</h2>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Code Article</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Designation</label>
                      </div>
                    </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Prix Unitatire HT</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Taux TVA</label>
                      </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid">
                        <label for="floatingInputGrid">Prix Unitatire TTC</label>
                      </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelectGrid">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <label for="floatingSelectGrid">Selectionner Une Categorie</label>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-end mt-3">
        <button class="btn btn-danger me-2">
            <i class="fa-solid fa-power-off"></i>&nbsp; Annuler
        </button>
        <button class="btn btn-success">
            <i class="fa-solid fa-check-double"></i>&nbsp; Enregister
        </button>
    </div>
</div>
