<div class="row mb-2 border-2 custom-border">
    <div class="col-md-2">
        <div class="p-1 text-center">
            <img src="assets/product.png" alt="product" width="120px" height="100px">
        </div>
    </div>
    <div class="col-md-4 border-end border-start">
        <div class="row  mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-circle-info gold-color"></i>
            </div>
            <div class="col-11">Code Article</div>
        </div>
        <div class="row mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-pen-nib gold-color"></i>
            </div>
            <div class="col-11">Designation</div>
        </div>
        <div class="row  mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-dollar-sign gold-color"></i>
            </div>
            <div class="col-11">Prix HT</div>
        </div>
        <div class="row  mb-0 pb-0">
            <div class="col-1">
                <i class="fa-solid fa-hand-holding-dollar gold-color"></i>
            </div>
            <div class="col-11">Prix TTc</div>
        </div>
    </div>

    <!--Categories details-->
    <div class="col-md-3 border-end">
        <div class="h-100">
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-circle-info gold-color"></i>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">Code Categorie</div>
                        <div class="col-12">Description Categorie</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Buttons Events-->
    <div class="col-md-3 ps-0">
        <div class="row align-items-center h-100">
            <div class="col-md-4">
                <button class="btn btn-link"><i class="fa-solid fa-pencil"></i>&nbsp; Modifier</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link"><i class="fa-solid fa-trash"></i>&nbsp; Supprimer</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link"> <i class="fa-solid fa-clipboard-list"></i>&nbsp; Details</button>
            </div>
        </div>
    </div>
</div>